body{
  background-color: #301782;
}
#cabezera{
  background-color:white;
  width: 100%;
  height: 100px;
}

#caja{
background-color:#B1FDFB;
width:2000px;
height:700px;
margin:0 auto;
margin-top:1000px;
}

.bolitas{
background-color: white;
height: 200px;
width: 200px;
border-radius:50%;
float: left;
margin: 10px;

}
